.vscode/
ssh-keygen -t ed25519 -C "taz.okami@hotmail.com"
ssh-keygen -t ed25519 -C "taz.okami@hotmail.com".pub
"ssh-keygen -t ed25519 -C "taz.okami@hotmail.com""
"ssh-keygen -t ed25519 -C "taz.okami@hotmail.com".pub"
